.container {
	@include flex($gap: 29px);

	@include media($mobile-bp) {
		flex-direction: column;
	}
}

.list {
	min-width: 384px;
	list-style-type: none;

	@include media($laptop-bp) {
		width: calc(50% - 29px);
		min-width: calc(50% - 29px);
	}

	@include media($mobile-bp) {
		margin-block: 24px;
		width: auto;
		min-width: unset;
	}

	&Inner {
		@include flex($align: center, $gap: 8px);
		max-width: 378px;
		width: 100%;

		@include media($mobile-bp) {
			max-width: unset;
		}

		&:not(:last-child) {
			margin-bottom: 8px;
		}

		a {
			text-decoration: none;
			color: inherit;
		}
	}
}
