.list {
	@include flex($gap: 29px);
	list-style-type: none;

	@include media($mobile-bp) {
		flex-direction: column;
	}

	& li:first-child {
		min-width: 384px;

		@include media($laptop-bp) {
			width: calc(50% - 29px);
			min-width: calc(50% - 29px);
		}

		@include media($mobile-bp) {
			width: 100%;
			min-width: unset;
		}
	}

	& dt, dd {
		display: inline;
	}
}
