.container {
	font-size: 40px;
	font-weight: 500;
	margin-bottom: 40px;
	text-transform: uppercase;

	@include media($laptop-bp) {
		font-size: 26px;
		margin-bottom: 24px;
	}

	@include media($mobile-bp) {
		font-size: 24px;
	}

	&--dark {
		color: var(--dark);
	}

	&--white {
		color: var(--white);
	}
}
