.container {
	@include flex(flex-start, space-between, 50px);
	padding-block: 160px 150px;
	margin-bottom: -60px;

	@include pseudo() {
		top: 0;
		left: calc((100% - 100vw) / 2);
		width: 100vw;
		height: 100%;
		border-bottom-left-radius: 80px;
		border-bottom-right-radius: 80px;
		z-index: -1;
		background-color: var(--light-bg);
	}

	@include media($laptop-bp) {
		padding-block: 110px 120px;
		margin-bottom: -80px;
	}

	@include media($mobile-bp) {
		align-items: center;
		flex-direction: column;
		padding-top: 40px;
		padding-bottom: 100px;

		&:before {
			border-bottom-left-radius: 50px;
			border-bottom-right-radius: 50px;
		}
	}
}

.info {
	@include flex($align: flex-start, $gap: 20px);
	align-self: stretch;
	flex-direction: column;
	text-align: left;
	max-width: 560px;
	width: 100%;

	@include media($laptop-bp) {
		max-width: calc(50% - 20px);
	}

	@include media($mobile-bp) {
		gap: 20px;
		max-width: unset;
	}

	&Title {
		font-size: 60px;
		font-weight: 700;
		text-transform: uppercase;
		color: var(--dark);

		@include media($mobile-bp) {
			font-size: 32px;
		}
	}

	&Desc {
		max-width: 464px;
		font-weight: 300;
		margin-bottom: auto;
	}
}

.poster {
	z-index: 1;
	border-radius: 50px;
	overflow: hidden;

	img {
		display: block;
		height: auto;
		width: 100%;

		@include media($mobile-bp) {
			max-height: 400px;
		}
	}
}
